body {
    background-size: cover;
    background-attachment: fixed;
    color: black;
}
 
.card {
    background-color: transparent ;
    filter: blur(10px);
 
}
 
label {
    color: white;
    text-shadow: 1px 1px 2px black;
}
 
.btn-primary {
    background-color: #007bff;
    border: none;
}
 
.btn-primary:hover {
    background-color: #0056b3;
}
img{
    position: absolute;
    left: 60%;
    bottom: 45%;
    width: 30%;
}
 
.container-sm {
   
    background-color: rgba(255, 255, 255, 0.303);
    height: 100vh;
    border-radius: 50px;
   
   
}
label {
    color: rgb(255, 255, 255);
}
input{
    outline:none;
    border-bottom:none;
}
 
 
 